body {
  padding: 0px;
  margin: 0px;
}
#nav {
  display: flex;
  justify-content: right;
  padding: 30px;
  background-color: black;
  font-family: sans-serif;
}
div > div {
  width: 5%;
  padding: 10px;
  margin-left: 20px;
}
a {
  text-decoration: none;
  color: green;
  font-size: 22px;
}
